doctype html
html
	head
		include include/_meta_common
		link(rel='stylesheet', property='stylesheet', href="public/css/all.css")
	body.blog
		header.header
			.content-wrapper
				a.header__logo(href="/") Amélie Olivier
		section.pictures-container
			.content-wrapper
				.pictures-container__top
					.pictures-container__top-left
						p.pictures-container__title The Painting of the Week
						.weekpic-container#weekpicContainer
					.pictures-container__top-right
						include include/form-signup
				.pictures-container__thumbs
					p.pictures-container__title Other Paintings
					#photosContainer
		include include/weekpic-template
		include include/pic-template
		include include/_skin_common
		script(type="text/javascript", src="public/js/home.js")