doctype html
html
	head
		include include/_meta_common
		link(rel='stylesheet', property='stylesheet', href="public/css/all.css")
	body.blog
		header.header
			.content-wrapper
				a.header__logo(href="/") Amélie Olivier
		section.pictures-container
			.content-wrapper
				.pictures-container__top
					.pictures-container__top-left
						p.pictures-container__title The Painting of the Week
						.weekpic-container#weekpicContainer
					.pictures-container__top-right
						include include/form-signup
						ul.pictures-container__links-list
							li.pictures-container__link-item
								a.sidebar-link(href="http://amelie-fineart.tumblr.com/", target="_blank") Instruction / Blog
							li.pictures-container__link-item
								a.sidebar-link(href="https://www.facebook.com/ameliefineart?ref=hl", target="_blank") Facebook
							li.pictures-container__link-item
								a.sidebar-link#bioLink(href="#bioModal") Bio
				.pictures-container__thumbs
					p.pictures-container__title Other Paintings
					#photosContainer
		include include/bio-modal
		include include/weekpic-template
		include include/pic-template
		include include/_skin_common
		script(type="text/javascript", src="public/js/home.js")