doctype html
html
	head
		include include/_meta_common
		link(rel='stylesheet', property='stylesheet', href="public/css/all.css")
	body.blog
		header.header
			.content-wrapper
				a.header__logo(href="/") Amélie Olivier
			img.header__finalist-img(src="public/images/finalist_transp_small.png", alt="")
		section.pictures-container
			.content-wrapper
				.pictures-container__top
					.pictures-container__top-left
						p.pictures-container__title.pictures-container__title_weekpic The Painting of the Week
						.weekpic-container#weekpicContainer
					.pictures-container__top-right
						include include/form-signup
						ul.pictures-container__links-list
							li.pictures-container__link-item
								a.sidebar-link(href="http://amelie-fineart.tumblr.com/", target="_blank") Instruction / Blog
							li.pictures-container__link-item
								a.sidebar-link(href="https://www.facebook.com/amelie.olivier.750", target="_blank") Facebook
							li.pictures-container__link-item
								a.sidebar-link#bioLink(href="#bioModal") Bio
				.pictures-container__thumbs
					p.pictures-container__title Other Paintings
					#photosContainer
		footer.footer
			.content-wrapper
				include include/form-signup
				ul.footer__links
					li.footer__link-item
						a.footer__link(href="http://amelie-fineart.tumblr.com/", target="_blank") Instruction / Blog
					li.footer__link-item
						a.footer__link(href="https://www.facebook.com/ameliefineart?ref=hl", target="_blank") Facebook
					li.footer__link-item
						a.footer__link#bioLinkFooter(href="#bioModal") Bio
		include include/bio-modal
		include include/weekpic-template
		include include/pic-template
		include include/_skin_common
		script(type="text/javascript", src="public/js/home.js")