doctype html
html
	head
		include include/_meta_common
		link(rel='stylesheet', property='stylesheet', href="public/css/all.css")
	body.blog
		.content-wrapper
			section.pictures-container
				.pictures-container__top
					.pictures-container__top-left
						p.pictures-container__weekpic-title The Painting of the Week
						.weekpic-container#weekpicContainer
					.pictures-container__top-right
				.pictures-container__thumbs#photosContainer
		include include/weekpic-template
		include include/pic-template
		include include/_skin_common
		script(type="text/javascript", src="public/js/home.js")