.bio#bioModal
	img.bio__img(src="public/images/bio-pic.jpg")
	.bio__text.
		Amélie Olivier est née en Basse Normandie et habite à Aix en Provence.
		Sa Formation est essentiellement effectuée au sein d’ateliers privés aux Etats Unis, en France et en Norvège.
		- Atelier Sadie Valeri à San Francisco, Californie
		- Atelier BACAA à San Carlos, Californie
		- Studio Escalier (méthode de Ted Seth Jacobs)
		- Atelier de Gundula  Jacobs
		- Odd Nerdrum School, Norvège
		Différentes techniques académiques ont été abordées : les techniques Flamande, Vénitienne, Alla Prima, Sight-size.
		Pour toutes questions ou juste pour discuter autour du sujet de la peinture, un email : <a href="mailto:atelieramelieolivier@gmail.com">atelieramelieolivier@gmail.com</a>