form.form.form-signup#formSignup(method="POST", action="")
	.form__row.form__row_notice
		p.form__notice Sign Up to receive the painting of the week
	.form__row
		input.form__input(type="email", placeholder="E-mail")
		button.form__btn(type="submit") Sign Up

//form.form#formSignup(method="POST", action="")
//	.form__row.form__row_notice
//		p.form__notice Sign Up to receive the painting of the week
//	.form__row
//		.form__cell.form__cell_70
//			input.form__input(type="email", placeholder="E-mail")
//		.form__cell.form__cell_30
//			button.form__btn(type="submit") Sign Up