.image-post-content.js-image-content
	p.image-post-content__row {{:title}}
	p.image-post-content__row Size: {{:size}}
	p.image-post-content__row Price: {{:price}}
	a.image-post-content__contact-link(href="mailto:olivier.amelie@gmail.com") olivier.amelie@gmail.com