script#picTmpl(type="text/x-jsrender")
	.image-post
		a.image-post__img-wrapper.js-show-popup(title="{{:title}}", href="{{:imgSrcOrig}}", target="_blank")
			img.image-post__img(src="{{:imgSrc}}" alt="{{:title}}")
		include modal-image