.pictures-container {
    &__top {
        &:extend(.clearfix all);
    }
    &__top-left,
    &__top-right {
        float: left;
    }
    &__top-left {
        width: 65%;
    }
    &__top-right {
        width: 35%;
    }

    &__thumbs {
        &:extend(.clearfix all);
    }
}