.pictures-container {
    &__top {
        &:extend(.clearfix all);
        margin-bottom: 3.6rem;
    }
    &__top-left,
    &__top-right {
        float: left;
    }
    &__top-left {
        width: 62%;
    }
    &__top-right {
        width: 38%;
        padding: 0 2%;
    }

    &__title {
        .ptserif(1.8);
        margin-bottom: 2rem;
    }

    &__thumbs {
        &:extend(.clearfix all);
    }
}